# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Don't include all the PlatformIO downloads
.pio/

# Mac Hidden Files
.DS_Store

# Don't include the coredump
coredump*.bin

# Visual Sutdio Code Files
.vscode/
*.code-workspace